In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB 1.4 MB/s eta 0:00:09
   ---------------------------------------- 0.1/11.6 MB 1.7 MB/s eta 0:00:08
   ---------------------------------------- 0.1/11.6 MB 919.0 kB/s eta 0:00:13
    --------------------------------------- 0.2/11.6 MB 1.5 MB/s eta 0:00:08
   - -------------------------------------- 0.3/11.6 MB 1.8 MB/s eta 0:00:07
   -- ------------------------------------- 0.7/11.6 MB 3.1 MB/s eta 0:00:04
   --- ------------------------------------ 0.9/11.6 MB 3.3 MB/s eta 0:00:04
   --- ------------------------------------ 0.9/11.6 MB 3.2 MB/s eta 0:00:04
   ---- ----------------------------------- 1.2/11.6 MB 3.4 MB/s eta 0:00:04
   ---- ----------------------------------- 1.4/11.6 MB 3.6 MB/s eta 0:00:03
   ----- ---------------------------------- 1.6/11.6 MB 3.7 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/11.6 MB 3.6 MB/s eta 0:00:03
   ------ --------------------------------- 1.9/11.6 MB 3.6 MB/s eta 0:00:03
   ------- -------------------------------- 2.0/11.6 MB 3.5 MB/s eta 0:00:03
   ------- -------------------------------- 2.1/11.6 MB 3.5 MB/s eta 0:00:03
   ------- -------------------------------- 2.2/11.6 MB 3.3 MB/s eta 0:00:03
   -------- ------------------------------- 2.3/11.6 MB 3.3 MB/s eta 0:00:03
   -------- ------------------------------- 2.5/11.6 MB 3.3 MB/s eta 0:00:03
   -------- ------------------------------- 2.5/11.6 MB 3.1 MB/s eta 0:00:03
   --------- ------------------------------ 2.7/11.6 MB 3.2 MB/s eta 0:00:03
   --------- ------------------------------ 2.8/11.6 MB 3.2 MB/s eta 0:00:03
   ---------- ----------------------------- 3.0/11.6 MB 3.2 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.6 MB 3.3 MB/s eta 0:00:03
   ----------- ---------------------------- 3.3/11.6 MB 3.2 MB/s eta 0:00:03
   ----------- ---------------------------- 3.4/11.6 MB 3.2 MB/s eta 0:00:03
   ------------ --------------------------- 3.5/11.6 MB 3.2 MB/s eta 0:00:03
   ------------ --------------------------- 3.7/11.6 MB 3.2 MB/s eta 0:00:03
   ------------- -------------------------- 3.8/11.6 MB 3.2 MB/s eta 0:00:03
   ------------- -------------------------- 3.9/11.6 MB 3.2 MB/s eta 0:00:03
   -------------- ------------------------- 4.2/11.6 MB 3.2 MB/s eta 0:00:03
   -------------- ------------------------- 4.3/11.6 MB 3.2 MB/s eta 0:00:03
   --------------- ------------------------ 4.5/11.6 MB 3.3 MB/s eta 0:00:03
   ---------------- ----------------------- 4.7/11.6 MB 3.3 MB/s eta 0:00:03
   ---------------- ----------------------- 4.8/11.6 MB 3.3 MB/s eta 0:00:03
   ----------------- ---------------------- 5.0/11.6 MB 3.3 MB/s eta 0:00:03
   ----------------- ---------------------- 5.1/11.6 MB 3.3 MB/s eta 0:00:02
   ------------------ --------------------- 5.3/11.6 MB 3.3 MB/s eta 0:00:02
   ------------------- -------------------- 5.6/11.6 MB 3.3 MB/s eta 0:00:02
   ------------------- -------------------- 5.7/11.6 MB 3.4 MB/s eta 0:00:02
   -------------------- ------------------- 5.9/11.6 MB 3.4 MB/s eta 0:00:02
   -------------------- ------------------- 6.1/11.6 MB 3.4 MB/s eta 0:00:02
   --------------------- ------------------ 6.3/11.6 MB 3.4 MB/s eta 0:00:02
   ---------------------- ----------------- 6.4/11.6 MB 3.4 MB/s eta 0:00:02
   ---------------------- ----------------- 6.5/11.6 MB 3.4 MB/s eta 0:00:02
   ----------------------- ---------------- 6.7/11.6 MB 3.4 MB/s eta 0:00:02
   ----------------------- ---------------- 6.9/11.6 MB 3.4 MB/s eta 0:00:02
   ------------------------ --------------- 7.0/11.6 MB 3.4 MB/s eta 0:00:02
   ------------------------ --------------- 7.2/11.6 MB 3.4 MB/s eta 0:00:02
   ------------------------- -------------- 7.3/11.6 MB 3.4 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.6 MB 3.4 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.6 MB 3.4 MB/s eta 0:00:02
   -------------------------- ------------- 7.8/11.6 MB 3.4 MB/s eta 0:00:02
   --------------------------- ------------ 7.9/11.6 MB 3.4 MB/s eta 0:00:02
   ---------------------------- ----------- 8.2/11.6 MB 3.4 MB/s eta 0:00:02
   ---------------------------- ----------- 8.2/11.6 MB 3.4 MB/s eta 0:00:01
   ---------------------------- ----------- 8.4/11.6 MB 3.4 MB/s eta 0:00:01
   ----------------------------- ---------- 8.6/11.6 MB 3.4 MB/s eta 0:00:01
   ------------------------------ --------- 8.8/11.6 MB 3.5 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.6 MB 3.4 MB/s eta 0:00:01
   ------------------------------- -------- 9.0/11.6 MB 3.5 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.6 MB 3.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.6 MB 3.5 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 3.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 3.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.9/11.6 MB 3.5 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.6 MB 3.5 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 3.5 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.6 MB 3.5 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.6 MB 3.5 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.6 MB 3.5 MB/s eta 0:00:01
   ------------------------------------ --- 10.6/11.6 MB 3.6 MB/s eta 0:00:01
   ------------------------------------ --- 10.7/11.6 MB 3.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 3.5 MB/s eta 0:00:01
   ------------------------------------- -- 11.0/11.6 MB 3.4 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 3.4 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.6 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 2.6 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
    --------------------------------------- 10.2/505.5 kB ? eta -:--:--
    --------------------------------------- 10.2/505.5 kB ? eta -:--:--
    --------------------------------------- 10.2/505.5 kB ? eta -:--:--
   ------- ------------------------------- 92.2/505.5 kB 525.1 kB/s eta 0:00:01
   ----------- -------------------------- 153.6/505.5 kB 657.6 kB/s eta 0:00:01
   ---------------- --------------------- 225.3/505.5 kB 860.2 kB/s eta 0:00:01
   ----------------------- -------------- 307.2/505.5 kB 999.9 kB/s eta 0:00:01
   ----------------------------- ---------- 368.6/505.5 kB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 471.0/505.5 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 505.5/505.5 kB 1.2 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   ---------- ----------------------------- 92.2/345.4 kB 2.6 MB/s eta 0:00:01
   -------------------- ------------------- 174.1/345.4 kB 2.1 MB/s eta 0:00:01
   ----------------------------- ---------- 256.0/345.4 kB 2.0 MB/s eta 0:00:01
   ------------------------------------ --- 317.4/345.4 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 345.4/345.4 kB 1.6 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas

In [6]:
mydata={
    'cars':['creta','audi','mercedes'],
    'colors':['blue','yellow','red']
}
b=pandas.DataFrame(mydata)
print(b)

       cars  colors
0     creta    blue
1      audi  yellow
2  mercedes     red

In [7]:
import pandas as pd

In [8]:
c=pd.DataFrame(mydata)
print(c)

       cars  colors
0     creta    blue
1      audi  yellow
2  mercedes     red

In [9]:
pd.__version__

'2.2.2'

In [33]:
#to get entire column(series)
hhy=[1,2,3,4]
v=pd.Series(hhy[1:4])
print(v)

0    2
1    3
2    4
dtype: int64

In [25]:
hhy=[1,2,3,4]
v=pd.Series(hhy[3],index=['w'])
print(v)

w    4
dtype: int64

In [32]:
#index is changed
#given index to only day1 n day2
calories={'day1':100,'day2':200,'day3':300}
g=pd.Series(calories,index=['day1','day2'])
print(g)

day1    100
day2    200
dtype: int64

In [40]:
#to print wanted details only
#here prited details of person having age 19 and20
import numpy
import numpy as np
person=pd.DataFrame({
    'name':['nida','rifa','niha','thesneem'],
    'age':[19,18,20,20],
    'place':['nadapuram','kdy','kdy','thikkodi']
})
pp=np.array([19,20])
cc=person[person['age'].isin(pp)]
print(cc)

       name  age      place
0      nida   19  nadapuram
2      niha   20        kdy
3  thesneem   20   thikkodi

In [56]:
#ADD NEW ROW TO already exist dataset
person['sqrtt']=np.sqrt(person['age'])
person['square']=np.square(person['age'])
person['mean']=np.mean(person['age'])
print(person)

       name  age      place     sqrtt  square      sqrt   mean
0      nida   19  nadapuram  4.358899     361  4.358899  19.25
1      rifa   18        kdy  4.242641     324  4.242641  19.25
2      niha   20        kdy  4.472136     400  4.472136  19.25
3  thesneem   20   thikkodi  4.472136     400  4.472136  19.25

In [57]:
q=np.max(person['age'])
print(q)

20

In [66]:
r=person.describe()
print(r)

             age     sqrtt      square      sqrt   mean
count   4.000000  4.000000    4.000000  4.000000   4.00
mean   19.250000  4.386453  371.250000  4.386453  19.25
std     0.957427  0.109734   36.472592  0.109734   0.00
min    18.000000  4.242641  324.000000  4.242641  19.25
25%    18.750000  4.329834  351.750000  4.329834  19.25
50%    19.500000  4.415517  380.500000  4.415517  19.25
75%    20.000000  4.472136  400.000000  4.472136  19.25
max    20.000000  4.472136  400.000000  4.472136  19.25

In [67]:
t=np.cumsum(person['age'])
print(t)

0    19
1    37
2    57
3    77
Name: age, dtype: int64

In [68]:
person1=pd.DataFrame({
    'name':['john','joss','linta','hena'],
    'age':[34,56,np.nan,np.nan],
    'group':['a+','b+','a-','b-']})
print(person1)

    name   age group
0   john  34.0    a+
1   joss  56.0    b+
2  linta   NaN    a-
3   hena   NaN    b-

In [87]:
#to fill blank space
ss=person1['age'].mean()
person1['age']=person1['age'].fillna(ss)
print(person1)

    name   age group
0   john  34.0    a+
1   joss  56.0    b+
2  linta  45.0    a-
3   hena  45.0    b-

In [74]:
#to remove duplicate row
person2=pd.DataFrame({'name':['rifa','rifa','nida','rida'],'age':[23,23,15,45],'group':['a+','a+','a-','b-']})
print(person2)
person2.drop_duplicates()

   name  age group
0  rifa   23    a+
1  rifa   23    a+
2  nida   15    a-
3  rida   45    b-

   name  age group
0  rifa   23    a+
2  nida   15    a-
3  rida   45    b-

In [84]:
person2.rename(columns={'group':'bgroup'})

   name  age bgroup
0  rifa   23     a+
1  rifa   23     a+
2  nida   15     a-
3  rida   45     b-

In [86]:
#replace null value with wanted number
person1=pd.DataFrame({
    'name':['john','joss','linta','hena'],
    'age':[34,56,np.nan,np.nan],
    'group':['a+','b+','a-','b-']})
print(person1)
person1.fillna(100)

    name   age group
0   john  34.0    a+
1   joss  56.0    b+
2  linta   NaN    a-
3   hena   NaN    b-

    name    age group
0   john   34.0    a+
1   joss   56.0    b+
2  linta  100.0    a-
3   hena  100.0    b-

In [93]:
data1=pd.DataFrame()
data1['date time']=pd.date_range('1/05/2024 11:00',periods=10,freq='w')
data1['date']=data1['date time'].dt.date
data1['time']=data1['date time'].dt.time
print(data1)

            date time        date      time
0 2024-01-07 11:00:00  2024-01-07  11:00:00
1 2024-01-14 11:00:00  2024-01-14  11:00:00
2 2024-01-21 11:00:00  2024-01-21  11:00:00
3 2024-01-28 11:00:00  2024-01-28  11:00:00
4 2024-02-04 11:00:00  2024-02-04  11:00:00
5 2024-02-11 11:00:00  2024-02-11  11:00:00
6 2024-02-18 11:00:00  2024-02-18  11:00:00
7 2024-02-25 11:00:00  2024-02-25  11:00:00
8 2024-03-03 11:00:00  2024-03-03  11:00:00
9 2024-03-10 11:00:00  2024-03-10  11:00:00

C:\Users\HP\AppData\Local\Temp\ipykernel_12988\3520847935.py:2: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data1['date time']=pd.date_range('1/05/2024 11:00',periods=10,freq='w')

In [96]:
person1=pd.DataFrame({
    'name':['john','joss','linta','hena'],
    'age':[34,56,44,21],
    'group':['a+','b+','a-','b-']})
person1.to_csv('data.csv',index=False)

In [4]:
#convert to excel
import pandas as pd
person1=pd.DataFrame({
    'name':['john','joss','linta','hena'],
    'age':[34,56,44,21],
    'group':['a+','b+','a-','b-']})
person1.to_excel('data.xlsx',index=False)
print(person1.head())

    name  age group
0   john   34    a+
1   joss   56    b+
2  linta   44    a-
3   hena   21    b-

In [ ]:
#display first 5 columns
person1=pd.DataFrame({
    'name':['john','joss','linta','hena',],
    'age':[34,56,44,21],
    'group':['a+','b+','a-','b-']})
print(person1.head())

In [5]:
#display last 5 columns
person1=pd.DataFrame({
    'name':['john','joss','linta','hena','joss','linta','hena','hena','joss','john'],
    'age':[34,56,44,21,33,55,7,22,8,44],
    'group':['a+','b+','a-','b-','a+','b+','a-','b-','b+','a-']})
print(person1.tail())

    name  age group
5  linta   55    b+
6   hena    7    a-
7   hena   22    b-
8   joss    8    b+
9   john   44    a-

In [99]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
   --------- ------------------------------ 61.4/250.0 kB 1.1 MB/s eta 0:00:01
   ------------------ --------------------- 112.6/250.0 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 1.7 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [6]:
person1=pd.DataFrame({
    'name':['john','joss','linta','hena','joss','linta','hena','hena','joss','john'],
    'age':[34,56,44,21,33,55,7,22,8,44],
    'group':['a+','b+','a-','b-','a+','b+','a-','b-','b+','a-']})
print(person1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10 non-null     object
 1   age     10 non-null     int64
 2   group   10 non-null     object
dtypes: int64(1), object(2)
memory usage: 372.0+ bytes
None

In [16]:
import numpy as np
person1=pd.DataFrame({
    'name':['john','joss','linta','hena'],
    'age':[34,56,np.nan,np.nan],
    'group':['a+','b+','a-','b-']})
per=person1.dropna()
print(per.to_string())

   name   age group
0  john  34.0    a+
1  joss  56.0    b+